.table-container {
    max-height: 650px;
    overflow: auto;
    width: 850px;
}

th {
    max-width: 150px;
}

.sticky-paginator {
    position: sticky;
    bottom: 0;
    background: white;
    z-index: 100;
}

mat-card {
  padding: 0;
}

mat-card-header {
  background-color: #f5f5f5;
  padding: 10px 16px;
}

.income-card mat-card-header {
  border-left: 5px solid #4caf50;
}

.expense-card mat-card-header {
  border-left: 5px solid #f44336;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
}