<div class="dashboard-container">
  <mat-grid-list cols="2" gutterSize="20px">
    <mat-grid-tile>
      <mat-card class="income-card">
          <mat-card-header class="dashboard-header">
              <mat-card-title>📈 Incomes</mat-card-title>
              <button mat-raised-button color="primary" (click)="addIncome()">Add Income</button>
          </mat-card-header>
          <mat-card-content>
              <app-movement-list [isDeposit]="true"></app-movement-list>
          </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="expense-card">
          <mat-card-header  class="dashboard-header">
              <mat-card-title>📉 Expenses</mat-card-title>
              <button mat-raised-button color="primary" (click)="addExpense()">Add Expense</button>
          </mat-card-header>
          <mat-card-content>
              <app-movement-list [isDeposit]="false"></app-movement-list>
          </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>